* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: navy;
    text-decoration: none;
    font-weight: 800;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 40px;
    transition: .1s;
}

.navbar a:hover {
    color: lightslategray;
    border-bottom: 3px solid gold;

}

.home {
    height: 100vh;
    background: url('mywebpage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 20px 10%;
}

.home-content {
    background: transparent;
    max-width: 500px;
}

.home-content h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1e90ff;
}

.home-content h2 {
    font-size: 35px;
    font-weight: 700;
}

.home-content .btn-box {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 50px;
    background: transparent;
    z-index: 1;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 200px;
    height: 100%;
    background: mediumturquoise;
    border: 2px solid;
    border-radius: 15px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    align-items: center;
    margin: 10px 0 20px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: navy;
    z-index: -1;
    transition: .2s;

}

.btn-box a:hover::before {
    width: 100%;
}

.btn-box a:hover {
    transform: translateX(10px);
    transition: .2s;
}

.social-icons {
    position: absolute;
    bottom: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;

}

.social-icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px skyblue;
    border-radius: 50%;
    font-size: 40px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;


}

.social-icons a:hover {
    color: white;
    transform: translateY(-5px);
    transition: .25s;
}

.social-icons a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: navy;
    z-index: -1;
    transition: .1s;
}

.social-icons a:hover::before {
    width: 100%;
}

.enter-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background: crimson;
    border-radius: 25px;
    border: none;
    font-size: 60px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px 0px 20px;
}

.intro {
    height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    z-index: -1;
}

.enter-btn:hover {
    content:'';
    background-color: darkred;
    transition: 0.5s;
}


/*.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('loading.gif') no-repeat;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

#myVideo {
    position: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#menu-icon {
    color: black;
    font-size: 35px;
    cursor: pointer;
    z-index: 999;
    display: none;
}

@media (max-width: 990px) {
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: cornsilk;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navbar a {
        display: block;
        margin: 2px 0;
        margin-left: 0;
    }
    .navbar.open{
        right: 0;
    }
}