{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/index" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-start">Symbol</th>
                        <th class="text-start">Name</th>
                        <th class="text-end">Shares</th>
                        <th class="text-end">Price</th>
                        <th class="text-end">TOTAL</th>
                    </tr>
                </thead>
            <tbody>
                {% for row in database %}
                    <tr>
                        <td class="text-start">{{ row["symbol"] }}</td>
                        <td class="text-start">{{ row["name"] }}</td>
                        <td class="text-end">{{ row["shares"] }}</td>
                        <td class="text-end">{{ row["price"] | usd }}</td>
                        <td class="text-end">{{ row["total"] | usd }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
                <tfoot>
                    <tr>
                        {% for row in users %}
                        <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                        <td class="border-0 text-end">{{ row["cash"] | usd }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                        <td class="border-0 w-bold text-end">{{ sum | usd }}</td>
                    </tr>
                </tfoot>
            </table>
        </main>

{% endblock %}