{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="password" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="New Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
