{% extends "layout.html" %}

{% block title %}Client Onboarding{% endblock %}

{% block main %}
    <form action="/onboarding" method="post">
        <div class="mb-3 form-group row">
            <label for="symbol" class="col-sm-5 col-form-label text-end">Client Name</label>
            <div class = "col-sm-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="client_name" name="client_name" placeholder="name" type="text">
            </div>
        </div>
        <div class="mb-3 form-group row">
            <label for="symbol" class="col-sm-5 col-form-label text-end">Contact No.</label>
            <div class = "col-sm-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="contact_no" name="contact_no" placeholder="contact number" type="text">
            </div>
        </div>
        <div class="mb-3 form-group row">
            <label for="symbol" class="col-sm-5 col-form-label text-end">Address</label>
            <div class = "col-sm-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="address" name="address" placeholder="address" type="text">
            </div>
        </div>
        <div class="mb-3 form-group row">
            <label for="symbol" class="col-sm-5 col-form-label text-end">Country</label>
            <div class = "col-sm-2">
                <select class="dropdown-toggle form-select" id="country" name="country" autofocus class="form-control mx-auto w-auto">
                    <option disabled selected>select country</option>
                    {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>  
        </div>
        </div>
        <div class="mb-3 form-group row">
            <label for="symbol" class="col-sm-5 col-form-label text-end">City</label>
            <div class = "col-sm-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="city_name" name="city_name" placeholder="City name" type="text">
            </div>
        </div>
        <div class="mb-3 form-group row">
            <label for="symbol" class="col-sm-5 col-form-label text-end">State</label>
            <div class = "col-sm-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="state" name="state" placeholder="state" type="text">
            </div>
        </div>
        <div class="mb-3 form-group row">
            <label for="symbol" class="col-sm-5 col-form-label text-end">Postal code</label>
            <div class = "col-sm-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="postal_code" name="postal_code" placeholder="e.g: 98859" type="text">
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Insert</button>
        </div>
    </form>
{% endblock %}