{% extends "layout.html" %}

{% block title %}
    Client List
{% endblock %}

{% block main %}
    <form action="/client_list" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-start">ID</th>
                        <th class="text-start">Name</th>
                        <th class="text-start">Contact number</th>
                        <th class="text-start">Address</th>
                        <th class="text-end">Country</th>
                        <th class="text-end">City</th>
                        <th class="text-end">State</th>
                        <th class="text-end">Postal Code</th>
                    </tr>
                </thead>
            <tbody>
                {% for row in database %}
                    <tr>
                        <th class="text-start">{{ row["id"] }}</th>
                        <td class="text-start">{{ row["name"] }}</td>
                        <td class="text-start">{{ row["contact_no"] }}</td>
                        <td class="text-start">{{ row["address"] }}</td>
                        <td class="text-end">{{ row["country"] }}</td>
                        <td class="text-end">{{ row["city"] }}</td>
                        <td class="text-end">{{ row["state"] }}</td>
                        <td class="text-end">{{ row["postal_code"] }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
            </table>
        </main>

{% endblock %}