{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/index" method="post">
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-start">ID</th>
                        <th class="text-start">Serial Number</th>
                        <th class="text-start">Device</th>
                        <th class="text-end">Ticket Ref</th>
                        <th class="text-end">Sub Type</th>
                        <th class="text-end">Expense Type</th>
                        <th class="text-end">Expiry Date</th>
                        <th class="text-end">Expired in</th>
                        <th class="text-end">Client</th>
                        <th class="text-end">Addendum</th>
                        <th class="text-end">Created at</th>
                    </tr>
                </thead>
            <tbody>
                {% for row in database %}
                    <tr>
                        <td class="text-start">{{ row["id"] }}</td>
                        <td class="text-start">{{ row["serial_num"] }}</td>
                        <td class="text-start">{{ row["Device"] }}</td>
                        <td class="text-end">{{ row["ticket_ref"] }}</td>
                        <td class="text-end">{{ row["subs_type"] }}</td>
                        <td class="text-end">{{ row["expense_type"] }}</td>
                        <td class="text-end">{{ row["expiry"] }}</td>
                        <td class="text-end" style ="color: {% if 0 <= row['expiration'] <= 30 %}darkorange{% elif row['expiration'] < 0 %}red{% else %}black{% endif %};">
                            {{ row["expiration"] }} days
                        </td>
                        <td class="text-end">{{ row["client"] }}</td>
                        <td class="text-end">{{ row["Addendum"] }}</td>
                        <td class="text-end">{{ row["created_at"] }}</td>
                        <td>
                            <form></form>
                            <form action="{{ url_for('edit') }}" method ="GET">
                                <input type="hidden" name="id" value="{{ row['id'] }}" />
                                <input type="submit" value="edit" />
                            </form>
                        </td>
                        <!-- <td>
                            <form action onsubmit="return confirm('Are you sure you want to delete this entry?');" action="{{url_for('register')}}" method = "POST">
                                <input type="hidden" name="id" value="{{ row['rowid'] }}" />
                                <input type="submit" value="delete" />
                            </form>
                        </td> -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="pagination_section d-flex justify-content-center">
                <ul class="pagination">
                    {% if page > 1 %}
                    <li>
                        <a class="page-link" href="/?page={{ page - 1 }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}

                    {% for p in range(1, total_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-item"><a class="page-link" href="/?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endfor %}

                    {% if page < total_pages %}
                    <li>
                        <a class="page-link" href="/?page={{ page + 1 }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}
                </ul>   
            </div> 
    </form>

{% endblock %}